:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h3, form{
    margin-right: auto;
    margin-left: auto;
}

input{
    background-color: antiquewhite;
}

button{
    float: right;
}

mat-form-field{
    width: 300px;
}