<h3>Cadastrar processo</h3>
<form [formGroup]="processoForm" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field>
            <mat-label>Número de registro</mat-label>
            <input matInput formControlName="numeroRegistro" required>
            <mat-error>Campo obirgatório</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="form-field">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="data" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Campo obirgatório</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="form-field">
            <mat-label>UF</mat-label>
            <input matInput formControlName="uf" required>
            <mat-error>Campo obirgatório</mat-error>
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">Salvar</button>
</form>